        <div class="add_roomate">
                <div class="match_profile_pic"></div>
                <div class ="match_desc">
                    <div class ="match_name">Name</div>
                    <div class="match_tags">Tags</div>
                </div>
                <div class="match_percent">
                    <button>ADD</button>
                </div>
        </div>