{{#users}}
<div class="add_roomate">
    <div class="match_profile_pic">
        <img src="{{imagePath}}" alt="Profile Picture of {{firstName}}" class="profile_img">
    </div>
    <div class="match_desc">
        <div class="match_name">{{firstName}} {{lastName}}</div>
        <div class="match_tags">
            {{#tags}}
                <span class="tag">{{.}}</span>
            {{/tags}}
            {{^tags}}
                <span class="tag">No tags</span>
            {{/tags}}
        </div>
    </div>
   <div class="match_percent">
    <form method="POST" action="/Find-Past-Roommate/addPastRoommate">
        <!-- Assuming you have the current user's ID available as `currentUserId` and the user being added as `userIdToAdd` -->
        <input type="hidden" name="currentUserId" value="{{currentUserId}}">
        <input type="hidden" name="newRoommateId" value="{{userId}}">
        <button type="submit">ADD</button>
    </form>
</div>

</div>
{{/users}}
