 <div class="feed_info">
            <div class="feed_imgs">
                <img class="feed_img" src="{{reviewer.imagePath}}" alt="Riviewer profile img">
                <img class="feed_img" src="{{reviewee.imagePath}}" alt="Riviewer profile img">              
            </div>
            <div class="feed_content">
                <div class="feed_name">{{reviewer.username}} for {{reviewee.username}}</div>
                <div class="feed_desc">{{content}}</div>
            </div>
            <div class="feed_interaction">

                <form method="POST" action="/Feed/Vote/{{reviewId}}/true/true" class="interaction_form">
                    <input type="hidden" name="feed_id" value="{{reviewId}}">
                    <button type="submit" class="feed_likes"></button>
                </form>

                <div>{{upvoteCount}}</div>
                <div>{{downvoteCount}}</div>
                  
                <form method="POST" action="/Feed/Vote/{{reviewId}}/true/false" class="interaction_form">
                    <input type="hidden" name="feed_id" value="{{reviewId}}">
                    <button type="submit" class="feed_dislikes"></button>
                </form>

            </div>
        </div>