<div class="footer">
    <div class="content-center">
        Copyright &copy; 2025 Shelby Osteen, Nadia Ismail, Netra Amin, and Hadiza Sarr. All rights reserved.
        <p>This is a project developed by the students of Dr. Menik's Database Management class to allow for UGA students to connect with available roommate options.</p>
    </div>
</div>