<div class="footer">
    <div class="content-center">
        Copyright &copy; 2025 shelby Osteen, Nadia Ismail, Netra Amin, and Hazida Sarr All rights reserved.
        <p>This is a project developed by the students of Dr. Meniks Database Management class to allow for UGA students to connect with available roomate options.</p>
    </div>
</div>