    <div class = "match">
        <div class="match_profile_pic"></div>
        <div class ="match_desc">
            <div class ="match_name">Name</div>
            <div class="match_tags">Tags</div>
        </div>
        <div class="match_percent">
            <h1>%</h1>
        </div>
    </div>