<h2>Edit Your Attributes</h2>

<form method="post" action="/profile/attributes">
    {{#allAttributes}}
        <div>
            <input type="checkbox" 
                   name="attributes" 
                   value="{{attrId}}" 
                   id="attr_{{attrId}}"
                   {{#selected}}checked{{/selected}}>
            <label for="attr_{{attrId}}">
      <strong>{{category}}</strong>: {{name}}
    </label>
        </div>
    {{/allAttributes}}

    {{^allAttributes}}
        <p>No attributes available to select.</p>
    {{/allAttributes}}

    <br>
    <button type="submit">Save Attributes</button>
</form>
