<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="feed_nav">
        <nav>
            <ul>
                <li><a  href="/Profile">Profile</a></li>
                <li><a href="/Matches">Matches</a></li>
                <li><a class="active" href="/Feed">Feed</a></li>
                <li><a href="/Review">Review</a></li>
                <li><a href="/Find-Past-Roommate">Find Past Roommates</a></li>
                <li><a href="/Your-Past-Roommate">Your Past Roommates</a></li>
                <li style="float:right"><a href="#logOut">LogOut</a></li>
            </ul>
        </nav>
    </div>
    <div class="feed">
        {{#reviews}}
            {{> fragments/feed_post}}
        {{/reviews}}
    </div>
</body>