<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find-Past-Roommate</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="match_nav">
        <nav>
            <ul>
                <li><a href="/Profile">Profile</a></li>
                <li><a class="active" href="/Matches">Matches</a></li>
                <li><a href="/Feed">Feed</a></li>
                <li><a href="/Review">Review</a></li>
                <li><a href="/Find-Past-Roommate">Find Past Roommates</a></li>
                <li><a href="/Your-Past-Roommate">Your Past Roommates</a></li>
                <li style="float:right"><a href="/login#logOut">LogOut</a></li>
            </ul>
        </nav>
    </div>
        <div class="match_header">
        <h1>Roommate Matches</h1>
    </div>
    <div class="matches">
        {{#matches}}
         {{> fragments/match}}
        {{/matches}}
    </div>
</body>
