<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your-Past-Roommate</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="pr_nav">
        <nav>
            <ul>
                <li><a  href="/Profile">Profile</a></li>
                <li><a href="/Matches">Matches</a></li>
                <li><a href="/Feed">Feed</a></li>
                <li><a href="/Review">Review</a></li>
                <li><a href="/Find-Past-Roommate">Find Past Roommates</a></li>
                <li><a class="active" href="/Your-Past-Roommate">Your Past Roommates</a></li>
                <li style="float:right"><a href="/login">LogOut</a></li>
            </ul>
        </nav>
    </div>
    <div class="pr_divider">
        Past Roomates
    </div>
    <div class="pr_container">
        {{> fragments/past_roommate}}
    </div>
</body>
</html>