<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Past Roommates</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="fpr_nav">
        <nav>
            <ul>
                <li><a href="/Profile">Profile</a></li>
                <li><a href="/Matches">Matches</a></li>
                <li><a href="/Feed">Feed</a></li>
                <li><a href="/Review">Review</a></li>
                <li><a href="/Find-Past-Roommate">Find Past Roommates</a></li>
                <li><a class="active" href="/Your-Past-Roommate">Your Past Roommates</a></li>
                <li style="float:right"><a href="/login#logOut">LogOut</a></li>
            </ul>
        </nav>
    </div>

    <div class="fpr_header">
        <h1>Your Past Roommates</h1>
    </div>
    
    

    <div class="your_past_rm_container">
        {{#pastRoommates}}
        <div class="pr">
            <div class="match_profile_pic">
                <img src="{{imagePath}}" alt="Profile Picture of {{firstName}}" class="profile_img">
            </div>
            <div class="pr_name">{{firstName}} {{lastName}}</div>
            <div class="userrating">x/5</div>

            <div class="match_tags">
            {{#tags}}
                <span class="tag">{{.}}</span>
            {{/tags}}
            {{^tags}}
                <span class="tag">No tags</span>
            {{/tags}}
        </div>
        <div class="ratedDescription">You rated {{firstName}} a X/5</div>
            
        </div>
        {{/pastRoommates}}

        {{^pastRoommates}}
        <p>No past roommates found.</p>
        {{/pastRoommates}}
    </div>
</body>
</html>
