<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="review_nav">
        <nav>
            <ul>
                <li><a href="/Profile">Profile</a></li>
                <li><a href="/Matches">Matches</a></li>
                <li><a href="/Feed">Feed</a></li>
                <li><a class="active" href="/Review">Review</a></li>
                <li><a href="/Find-Past-Roommate">Find Past Roommates</a></li>
                <li><a href="/Your-Past-Roommate">Your Past Roommates</a></li>
                <li style="float:right"><a href="/login">LogOut</a></li>
            </ul>
        </nav>
    </div>
    <div class ="review_header">
        <h1>Review a Roomate</h1>
    </div>
    <div class="rating-container">
        <form id="rating-form" method="post" action="/Review">

    <div class="select_person">
        {{> fragments/error_message}}
        <input name="firstName" class="short-input full" type="text" placeholder="First Name">
        <input name="lastName" class="short-input full" type="text" placeholder="Last Name">
    </div>

    <div class="star_rating">
          <label for="rating" class="rating_header">Select Rating:</label>
          <select name="rating" id="rating">
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
          </select>
    </div>

    <div class="review_tags">
        <label class="tag">
          <input type="checkbox" name="Clean" value="Clean">
          Clean
        </label>
        <label class="tag">
          <input type="checkbox" name="Messy" value="Messy">
          Messy
        </label>
        <label class="tag">
          <input type="checkbox" name="EB" value="EB">
          Early Bird
        </label>
        <label class="tag">
            <input type="checkbox" name="NO" value="NO">
            Night Owl
        </label>
        <label class="tag">
            <input type="checkbox" name="LS" value="LS">
            Light Sleeper
        </label>
        <label class="tag">
            <input type="checkbox" name="Smoker" value="Smoker">
            Smoker
        </label>
        <label class="tag">
            <input type="checkbox" name="Drinker" value="Drinker">
            Drinker
        </label>
        <label class="tag">
            <input type="checkbox" name="Pets" value="Pets">
            Pets
        </label>
        <label class="tag">
            <input type="checkbox" name="NP" value="NP">
            No Pets
        </label>
    </div>  


    <div class="written-review">
        <label for="review">Write your review:</label><br>
        <textarea id="review" name="review" rows="5" cols="50" required></textarea>
    </div>
    
 
    <div class="submit-container">
        <button type="submit" class="action-button">Submit Review</button>
    </div>
    </form>
    </div>
</body>
</html>